<a href="https://colab.research.google.com/github/kebreck/DS-Unit-1-Sprint-2-Statistics/blob/master/Copy_of_LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

In [0]:
### YOUR CODE STARTS HERE

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import ttest_ind

In [67]:
!wget 'https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data'

--2020-05-27 18:50:35--  https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18171 (18K) [application/x-httpd-php]
Saving to: ‘house-votes-84.data.2’

house-votes-84.data 100%[===================>]  17.75K  --.-KB/s    in 0.06s

2020-05-27 18:50:36 (286 KB/s) - ‘house-votes-84.data.2’ saved [18171/18171]

In [68]:
column_headers = ['party','handicapped-infants','water-project',
                          'budget','physician-fee-freeze', 'el-salvador-aid',
                          'religious-groups','anti-satellite-ban',
                          'aid-to-contras','mx-missile','immigration',
                          'synfuels', 'education', 'right-to-sue','crime','duty-free',
                          'south-africa']

votes = pd.read_csv('house-votes-84.data', 
                 header=None, 
                 names=column_headers,
                 na_values="?")

votes.head()

        party handicapped-infants water-project  ... crime duty-free south-africa
0  republican                   n             y  ...     y         n            y
1  republican                   n             y  ...     y         n          NaN
2    democrat                 NaN             y  ...     y         n            n
3    democrat                   n             y  ...     n         n            y
4    democrat                   y             y  ...     y         y            y

[5 rows x 17 columns]

In [69]:
votes = votes.replace({'y': 1, 'n': 0})
votes.head()

        party  handicapped-infants  ...  duty-free  south-africa
0  republican                  0.0  ...        0.0           1.0
1  republican                  0.0  ...        0.0           NaN
2    democrat                  NaN  ...        0.0           0.0
3    democrat                  0.0  ...        0.0           1.0
4    democrat                  1.0  ...        1.0           1.0

[5 rows x 17 columns]

In [70]:
elephants = votes[votes['party']=='republican']
elephants.sample(5)

          party  handicapped-infants  ...  duty-free  south-africa
142  republican                  0.0  ...        0.0           1.0
119  republican                  0.0  ...        0.0           0.0
427  republican                  0.0  ...        0.0           1.0
191  republican                  0.0  ...        0.0           NaN
140  republican                  0.0  ...        0.0           1.0

[5 rows x 17 columns]

In [0]:
donkeys = votes[votes['party']=='democrat']

In [72]:
ttest_ind(elephants['religious-groups'], donkeys['religious-groups'], nan_policy='omit')
# Fail to reject the null hypothesis at a pvalue of 2.39

Ttest_indResult(statistic=9.737575825219457, pvalue=2.3936722520597287e-20)

In [73]:
ttest_ind(elephants['immigration'], donkeys['immigration'], nan_policy='omit')

# Fail to reject the null hypothesis at a pvalue of 0.83

Ttest_indResult(statistic=1.7359117329695164, pvalue=0.08330248490425066)

In [74]:
col = 'budget'

ttest_ind(elephants[col], donkeys[col], nan_policy='omit')

Ttest_indResult(statistic=-23.21277691701378, pvalue=2.0703402795404463e-77)

In [0]:
# t-test and p-value function

def func_ttest_sample(a,b):
  x = ttest_ind(a, b, nan_policy='omit')
  return x.statistic, x.pvalue

In [76]:
df1 = elephants[col]
df2 = donkeys[col]

func_ttest_sample(df1, df2)

(-23.21277691701378, 2.0703402795404463e-77)

In [78]:
elephants.columns

Index(['party', 'handicapped-infants', 'water-project', 'budget',
       'physician-fee-freeze', 'el-salvador-aid', 'religious-groups',
       'anti-satellite-ban', 'aid-to-contras', 'mx-missile', 'immigration',
       'synfuels', 'education', 'right-to-sue', 'crime', 'duty-free',
       'south-africa'],
      dtype='object')

In [80]:
elephants = elephants.replace({'republican': 1, 'democrat': 0})
elephants.head()

    party  handicapped-infants  water-project  ...  crime  duty-free  south-africa
0       1                  0.0            1.0  ...    1.0        0.0           1.0
1       1                  0.0            1.0  ...    1.0        0.0           NaN
7       1                  0.0            1.0  ...    1.0        NaN           1.0
8       1                  0.0            1.0  ...    1.0        0.0           1.0
10      1                  0.0            1.0  ...    1.0        0.0           0.0

[5 rows x 17 columns]

In [81]:
donkeys = donkeys.replace({'republican': 1, 'democrat': 0})
donkeys.head()

   party  handicapped-infants  water-project  ...  crime  duty-free  south-africa
2      0                  NaN            1.0  ...    1.0        0.0           0.0
3      0                  0.0            1.0  ...    0.0        0.0           1.0
4      0                  1.0            1.0  ...    1.0        1.0           1.0
5      0                  0.0            1.0  ...    1.0        1.0           1.0
6      0                  0.0            1.0  ...    1.0        1.0           1.0

[5 rows x 17 columns]

In [85]:
for i in elephants.columns:
     col = i
     rep = elephants[col]
     dem = donkeys[col]
     x = func_ttest_sample(rep,dem)
     print(col, x)

# There appear to be many issues where the p-value < 0.01
# water-project has a high p-value - above 0.1

party (inf, 0.0)
handicapped-infants (-9.205264294809222, 1.613440327937243e-18)
water-project (0.08896538137868286, 0.9291556823993485)
budget (-23.21277691701378, 2.0703402795404463e-77)
physician-fee-freeze (49.36708157301406, 1.994262314074344e-177)
el-salvador-aid (21.13669261173219, 5.600520111729011e-68)
religious-groups (9.737575825219457, 2.3936722520597287e-20)
anti-satellite-ban (-12.526187929077842, 8.521033017443867e-31)
aid-to-contras (-18.052093200819733, 2.82471841372357e-54)
mx-missile (-16.437503268542994, 5.03079265310811e-47)
immigration (1.7359117329695164, 0.08330248490425066)
synfuels (-8.293603989407588, 1.5759322301054064e-15)
education (20.500685724563073, 1.8834203990450192e-64)
right-to-sue (13.51064251060933, 1.2278581709672758e-34)
crime (16.342085656197696, 9.952342705606092e-47)
duty-free (-12.853146132542978, 5.997697174347365e-32)
south-africa (-6.849454815841208, 3.652674361672226e-11)

## Stretch Goals:
https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data
1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Then check your Answers using Scipy!